
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <% if current_user.role?("Staff") %>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, Task::STATUS, {}, {class: "selectpicker"} %>
    </div>
    <div class="field">
      <%= f.label :done %><br>
      <%= f.text_field :done %>
    </div>
    <div class="field">
      <%= f.label :time_spent %><br>
      <%= f.text_field :time_spent %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :priority %><br>
      <%= f.text_field :priority %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.date_select :due_date %>
    </div>
    <div class="field">
      <%= f.label :assigned_to_id %><br>
      <% options = options_from_collection_for_select(User.all, 'id', 'name') %>
      <%= f.select :assigned_to_id,  options %>
    </div>
        <div class="field">
      <%= f.label :done %><br>
      <%= f.text_field :done %>
    </div>
    <div class="field">
      <%= f.label :time_spent %><br>
      <%= f.text_field :time_spent %>
    </div>
  <% end %>

  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
